@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  width: 100px;
  height: 30px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.slick-prev {
  left: 15px !important;
}

.slick-next {
  right: 15px !important;
}

.response-input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  margin-bottom: 20px;
}

.qualification li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.qualification ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.qualification ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.qualification figure.table {
  width: 100%; /* Ensure the figure takes full width */
  display: block;
  margin: 0;
}

.qualification table {
  width: 100%; /* Make the table take up full width */
  border-collapse: collapse; /* Ensure no gaps between cells */
  table-layout: auto; /* Allow columns to adjust dynamically */
}

.qualification td,
.qualification th {
  border: 1px solid #ddd; /* Light border for cells */
  padding: 12px 15px; /* Padding inside cells */
  text-align: left;
}

.qualification td:first-child {
  min-width: 150px;
}

.qualification td:nth-child(2) {
  width: 10000px;
}

.qualification td[colspan] {
  width: 100%; /* Ensure colspan <td> takes full width */
}

.qualification tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row color */
}

.qualification tr:hover {
  background-color: #f1f1f1; /* Hover effect */
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border-top: 8px solid #ffffff;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
.loader-small {
  border: 2px solid transparent;
  border-top: 2px solid white; /* Change to your desired color */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.6s linear infinite;
}
.loader-btn {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add this to your global CSS file */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

@keyframes success-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.success-icon {
  animation: success-animation 0.5s ease-in-out forwards;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 0em 0 !important;
  }
}

.nav-option {
  color: black;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.nav-option:hover {
  color: #3a94d0;
}
.nav-option.active {
  color: #3a94d0;
}
.sidebar-option {
  color: black;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  padding-left: 16px;
  border-bottom: 1px solid gray;
}
.sidebar-option:hover {
  color: #3a94d0;
}
.sidebar-option.active {
  color: #3a94d0;
}

.custom-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #3a94d0;
  height: calc(100% + 32px);
}
@media only screen and (min-width: 1170px) {
  .custom-line::before {
    left: 50%;
  }
}
